*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black; 
    width: 100%;
    height: 100vh;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader{
    text-align: center;
    display: flex ;
    
}
.loader span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform-origin: 50% -95px;
    box-shadow: 0 5px 10px rgba(21, 21, 21, 0.596);
    background: radial-gradient(circle at 5px 5px,
            rgb(228, 228, 228) 1%, 
            rgb(24, 24, 24) 50%);
    
}
.loader span:first-child{
    animation: left 1.2s infinite alternate;
}
@keyframes left {
    to {
        transform: translateX( -150px)  rotateX(30deg);
       
    }
}
.loader span:last-child{
    animation: right 1.2s infinite alternate;
}
@keyframes right {
    to {
        transform: translateX( 150px)  rotateX(30deg);
    }
}

